Repository Team-Tokkit/Tokkit-Server, pull requests merged in 2025-04, with the labels that each got.

#6 [feat] 전자지갑 기능 구현
  .github/ISSUE_TEMPLATE/♻️--refactor--코드-리팩토링.md
  .github/ISSUE_TEMPLATE/✨--feat--기능-추가.md
  .github/ISSUE_TEMPLATE/🐛--fix--버그-수정.md
  .github/ISSUE_TEMPLATE/🚀--chore--기타-변경사항.md
  .github/PULL_REQUEST_TEMPLATE.md
  build.gradle
  src/main/java/com/example/Tokkit_server/Enum/TransactionType.java
  src/main/java/com/example/Tokkit_server/config/CorsConfig.java
  src/main/java/com/example/Tokkit_server/config/SwaggerConfig.java
  src/main/java/com/example/Tokkit_server/controller/UserController.java
  src/main/java/com/example/Tokkit_server/controller/WalletController.java
  src/main/java/com/example/Tokkit_server/domain/PaymentRequest.java
  src/main/java/com/example/Tokkit_server/domain/Transaction.java
  src/main/java/com/example/Tokkit_server/domain/User.java
  src/main/java/com/example/Tokkit_server/domain/VoucherOwnership.java
  src/main/java/com/example/Tokkit_server/domain/Wallet.java
  src/main/java/com/example/Tokkit_server/domain/common/BaseTimeEntity.java
  src/main/java/com/example/Tokkit_server/dto/request/DepositToTokenRequest.java
  src/main/java/com/example/Tokkit_server/dto/request/TokenToDepositRequest.java
  src/main/java/com/example/Tokkit_server/dto/request/VoucherPaymentRequest.java
  src/main/java/com/example/Tokkit_server/dto/request/VoucherPurchaseRequest.java
  src/main/java/com/example/Tokkit_server/dto/response/TransactionDetailResponse.java
  src/main/java/com/example/Tokkit_server/dto/response/TransactionHistoryResponse.java
  src/main/java/com/example/Tokkit_server/dto/response/VoucherPaymentResponse.java
  src/main/java/com/example/Tokkit_server/dto/response/VoucherPurchaseResponse.java
  src/main/java/com/example/Tokkit_server/dto/response/WalletBalanceResponse.java
  src/main/java/com/example/Tokkit_server/global/config/SwaggerConfig.java
  src/main/java/com/example/Tokkit_server/repository/TransactionRepository.java
  src/main/java/com/example/Tokkit_server/repository/UserRepository.java
  src/main/java/com/example/Tokkit_server/repository/VoucherOwnershipRepository.java
  src/main/java/com/example/Tokkit_server/repository/WalletRepository.java
  src/main/java/com/example/Tokkit_server/service/UserService.java
  src/main/java/com/example/Tokkit_server/service/command/WalletCommandService.java
  src/main/java/com/example/Tokkit_server/service/query/WalletQueryService.java
Labels: FEAT

#14 ♻️ Refactor: swagger 요청 경로에 /api prefix 붙이기
  build.gradle
  src/main/java/com/example/Tokkit_server/config/SwaggerConfig.java
  src/main/resources/application.yml
Labels: CONFIG

#15 Feat: 공지사항 기능 구현
  src/main/java/com/example/Tokkit_server/TokkitServerApplication.java
  src/main/java/com/example/Tokkit_server/apiPayload/code/status/ErrorStatus.java
  src/main/java/com/example/Tokkit_server/controller/NoticeController.java
  src/main/java/com/example/Tokkit_server/domain/Notice.java
  src/main/java/com/example/Tokkit_server/dto/notice/NoticeRequestDto.java
  src/main/java/com/example/Tokkit_server/dto/notice/NoticeResponseDto.java
  src/main/java/com/example/Tokkit_server/repository/NoticeRepository.java
  src/main/java/com/example/Tokkit_server/service/command/NoticeCommandService.java
  src/main/java/com/example/Tokkit_server/service/query/NoticeQueryService.java
Labels: FEAT

#16 Refactor: noticeId -> id로 변경
  src/main/java/com/example/Tokkit_server/controller/NoticeController.java
  src/main/java/com/example/Tokkit_server/domain/Notice.java
  src/main/java/com/example/Tokkit_server/dto/request/NoticeRequestDto.java
  src/main/java/com/example/Tokkit_server/dto/response/NoticeResponseDto.java
  src/main/java/com/example/Tokkit_server/service/command/NoticeCommandService.java
  src/main/java/com/example/Tokkit_server/service/query/NoticeQueryService.java
Labels: REFACTOR
